.signin {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 70px auto;
}

.signin__logo {
    width: 38px;
    height: 38px;
}

.signin__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
}

.signin__form {
    width: 100%;
}

.signin__input-container {
    display: flex;
    flex-direction: column;
}

.signin__label {
    font-weight: 400;
    font-size: 10px;
    color: #8B8B8B;
    margin-bottom: 10px;
}

.signin__input {
    padding: 15px;
    background-color: #2F2F2F;
    border-radius: 8px;
    border: none;
    margin: 0 0 20px 0;
    color: #FFF;
    font-weight: 400;
    font-size: 13px;
}

.signin__button {
    margin: 159px 0 16px;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 13px 177px;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.08s ease-in;
}

.signin__button:hover {
    opacity: 0.65;
}

.signin__submit-text {
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.signin__register-link {
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    transition: opacity 0.1s ease-in;
}

.signin__register-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .signin {
        margin: 232px auto;
    }
}

@media screen and (max-width: 425px) {
    .signin {
        max-width: calc(100% - 60px);
        margin: 56px auto 30px;
        align-items: center;
    }

    .signin__title {
        margin: 50px 0 80px;
    }

    .signin__button {
        max-width: 100%;
        font-size: 12px;
        font-weight: 500;
        padding: 15px 68px;
        margin: 167px 0 14px;
    }

    .signin__submit-text {
        font-size: 12px;
    }

    .signin__register-link {
        font-size: 12px;
    }
}