.card-list {
    display: flex;
    max-width: 100%;
    margin: 0;
    flex-wrap: wrap;
    gap: 58px 30px;
}

@media screen and (max-width: 1296px) {
    .card-list {
        max-width: 960px;
    }
}

@media screen and (max-width: 1116px) {
    .card-list {
        max-width: 810px;
    }
}

@media screen and (max-width: 949px) {
    .card-list {
        max-width: 708px;
        gap: 45px 30px;
    }
}

@media screen and (max-width: 847px) {
    .card-list {
        max-width: 630px;
        gap: 40px 30px;
    }
}

@media screen and (max-width: 768px) {
    .card-list {
        max-width: 708px;
        gap: 45px 30px;
    }
}

@media screen and (max-width: 737px) {
    .card-list {
        justify-content: center;
    }
}

@media screen and (max-width: 525px) {
    .card-list {
        gap: 39px;
    }
}