.movies-header__logo {
    width: 38px;
    height: 38px;
    background: url(../../images/header-logo.svg);
}

.movies-header {
    width: calc(100% - 140px);
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies-header_inactive {
    display: none;
}

.movies-header__nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 212px;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: -62px;
}

.movies-header__link_active {
    text-decoration: none;
    color: #ffffff8c;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.movies-header__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    transition: opacity 0.1s ease-in;
}

.movies-header__link:hover {
    opacity: 0.7;
}

.movies-header__profile-button {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #313131;
    padding: 8px 20px;
    border-radius: 20px;
    transition: opacity 0.1s ease-in;
}

.movies-header__profile-button_active {
    color: #ffffff8c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background-color: #313131;
    padding: 8px 20px;
    border-radius: 20px;
}

.movies-header__profile-button:hover {
    opacity: 0.7;
}

.burger {
    height: 23px;
    width: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.burger__line {
    display: block;
    height: 3px;
    width: 100%;
    background: #FFF;
    position: absolute;
}

.burger__line_first_opened {
    width: 22px;
    left: 10px;
    top: 10px;
    transform: rotate(45deg);
}

.burger__line_first {
    transition: transform 0.4s ease-in-out;
}

.burger__line_second {
    top: 10px;
    transition: transform 0.2s ease-in-out;
}

.burger__line_second_opened {
    transform: scaleY(0);
}

.burger__line_third {
    top: 20px;
    transition: transform 0.4s ease-in-out;
}

.burger__line_third_opened {
    width: 22px;
    left: 10px;
    top: 10px;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .movies-header {
        width: calc(100% - 60px);
        margin: 18px auto;
    }

    .burger {
        display: flex;
    }

    .movies-header__nav-items {
        display: none;
    }

    .movies-header__profile-button {
        display: none;
    }

    .movies-header__profile-button_active {
        display: none; 
    }
}

@media screen and (max-width: 525px) {
    .movies-header {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width: 320px) {
    .movies-header {
        max-width: calc(100% - 17px);
    }

    .burger {
        width: 22px;
        height: 20.5px;
    }

    .burger__line_second {
        top: 9px;
    }

    .burger__line_third {
        top: 18px;
    }

    .burger__line_first_opened {
        top: 0;
        left: 0;
    }

    .burger__line_third_opened {
        top: 0;
        left: 0;
    }
}