.error-page {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page__title {
    color: #FFF;
    font-size: 140px;
    font-weight: 400;
    text-align: center;
    margin: 246px auto 5px;
}

.error-page__subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 184px;
}

.error-page__button {
    text-decoration: none;
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    transition: opacity 0.1s ease-in;
    margin: 0 0 60px;
}

.error-page__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .error-page__title {
        font-size: 80px;
        margin-top: 329px;
    }

    .error-page__subtitle {
        font-size: 12px;
        margin-bottom: 284px;
    }

    .error-page__button {
        font-size: 12px;
        margin-bottom: 30px;
    }
}