.saved-movies {
    max-width: calc(100% - 140px);
    margin: 0 auto 159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .saved-movies {
        max-width: calc(100% - 30px);
    }
}

@media screen and (max-width: 525px) {
    .saved-movies {
        max-width: calc(100% - 10px);
    }
}